.lwpc-admin {
    background: #fff;
    /* margin-top: 25px; */
    padding: 0px 10px 25px 5px;
    height: 100%;
}

.lwpc-screen-loading {
    color: transparent !important;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 6;
}

.lwpc-screen-loading::after {
    animation: loading .5s infinite linear;
    border: .3rem solid #5755d9;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 5rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 35%;
    width: 5rem;
    z-index: 7;
}

.table-loading {
    color: transparent !important;
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 6;
}

.table-loading::after {
    animation: loading .5s infinite linear;
    border: .3rem solid #000;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 5rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 17%;
    width: 5rem;
    z-index: 7;
}

.dataTables_length label select {
    padding: 0 24px 0 8px !important;
}

#orders thead {
    display: none;
}

table.dataTable.display tbody tr:hover>.sorting_1,table.dataTable.order-column.hover tbody tr:hover>.sorting_1{background-color:white !important;}
table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1 {
    background-color: #fafafa;
}
table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1 {
     background-color: #fafafa;
}

/* Make header for card */
.lwpc-card-header {
    background: #fff;
    padding: 10px;
    border-bottom: 1px solid #e5e5e5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Make body for card */
.lwpc-card-body {
    background: #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Make footer for card */
.lwpc-card-footer {
    background: #fff;
    padding: 10px;
    border-top: 1px solid #e5e5e5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/* Make grid layout */
.lwpc-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

/* Make grid item center */
.lwpc-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Col length 6 */
.col-6 {
    grid-column: span 6;
}

/* Make flex layout */
.lwpc-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

/* flex column */
.lwpc-flex-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

/* Make button rounded with #BFFFD1 background */
.lwpc-btn-rounded {
    border-radius: 5px;
    background-color: #00bd12;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Make button rounded with hover */
.lwpc-btn-rounded:hover {
    background-color: #00990f;
    color: white;
}

/* Make button rounded with secondary background */
.lwpc-btn-rounded-secondary {
    border-radius: 5px;
    background: #A9A9A9;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}

/* Make Text bold */
.lwpc-text-bold {
    font-weight: bold;
}

/* Make Text secondary */
.lwpc-text-secondary {
    color: #939393;
}

/* Make Text red */
.lwpc-text-red {
    color: #ff0000;
}

/* Make margin right 10px */
.lwpc-mr-10 {
    margin-right: 10px;
}

/* Make margin right 40px */
.lwpc-mr-40 {
    margin-right: 40px;
}

/* Make margin right 80px */
.lwpc-mr-100 {
    margin-right: 100px;
}

/* Make margin 20px */
.lwpc-m-20 {
    margin: 20px;
}

/* Make margin bottom 0px */
.lwpc-mb-0 {
    margin-bottom: 0px;
}

/* On hover change mouse cursor to pointer */
.lwpc-hover:hover {
    cursor: pointer;
}

.lwpc-report-input {
    width: 400px;
    border-color: #D9D9D9;
}

.del {
    text-decoration: line-through;
    color: #ff0000;
}

/* make item hidden */
.lwpc-hidden {
    display: none;
}

/* make loading animation */
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*make loading*/
.lwpc-loading {
    animation: loading .5s infinite linear;
    border: .3rem solid #000;
    border-radius: 50%;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 5rem;
    left: 50%;
    margin-left: -.4rem;
    margin-top: -.4rem;
    position: absolute;
    top: 17%;
    width: 5rem;
    z-index: 7;
}

.loading-position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*make background white who overlay all element*/
.lwpc-overlay {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}